n8n_workflows/on-demand-analysis.json
{
  "name": "On-Demand Analysis (Phase 2: LLM Classification)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b2c3d4e5-2222-4000-b000-000000000001",
      "name": "Webhook 接收查詢",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "analyze"
    },
    {
      "parameters": {
        "jsCode": "// 驗證 ticker 格式\nconst ticker = $input.first().json.body?.ticker || $input.first().json.ticker;\n\nif (!ticker) {\n  throw new Error('缺少 ticker 參數。請提供股票代碼，例如 { \"ticker\": \"2330\" }');\n}\n\nconst tickerStr = String(ticker).trim();\n\nif (!/^\\d{4,6}$/.test(tickerStr)) {\n  throw new Error(`無效的股票代碼格式：「${tickerStr}」。股票代碼必須為 4-6 位數字。`);\n}\n\nreturn [{ json: { ticker: tickerStr } }];"
      },
      "id": "b2c3d4e5-2222-4000-b000-000000000002",
      "name": "驗證 Ticker 格式",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VALUATION_API_URL + '/api/analyze/' + $json.ticker }}",
        "options": {}
      },
      "id": "b2c3d4e5-2222-4000-b000-000000000003",
      "name": "呼叫估值 API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.VALUATION_API_URL + '/api/compare/' + $('驗證 Ticker 格式').first().json.ticker }}",
        "options": {}
      },
      "id": "b2c3d4e5-2222-4000-b000-000000000005",
      "name": "GET Compare",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "const analysisResult = $('呼叫估值 API').first().json;\nconst compareData = $input.first().json;\n\nconst ticker = analysisResult.ticker;\nconst classification = analysisResult.classification || {};\nconst wv = analysisResult.weightedValuation || {};\nconst perSummary = analysisResult.perSummary || {};\nconst dividendSummary = analysisResult.dividendSummary || {};\nconst dcfSummary = analysisResult.dcfSummary || {};\nconst capexSummary = analysisResult.capexSummary || {};\n\nconst stockData = {};\nstockData[ticker] = {\n  currentPrice: analysisResult.currentPrice,\n  deterministicType: classification.type,\n  dcf: wv.dcfFairValue,\n  per: wv.perFairValue,\n  pbr: wv.pbrFairValue,\n  div: wv.divFairValue,\n  capex: wv.capexFairValue,\n  evEbitda: wv.evEbitdaFairValue,\n  psr: wv.psrFairValue,\n  currentPE: perSummary.currentPE,\n  currentYield: dividendSummary.currentYield,\n  consecutiveYears: dividendSummary.consecutiveYears,\n  growthRate: dcfSummary.growthRate,\n  capExIntensity: capexSummary.capExIntensity\n};\n\nconst systemPrompt = [\n  '你是一位專業的股票估值分析師，負責判斷每檔股票最適合的估值方法組合。',\n  '',\n  '【估值方法與適用情境】',\n  '1. 金融業：pbr=0.7, div=0.3（金融股重視淨值與配息，dcf/per 不適用）',\n  '2. 週期性：evEbitda=0.4, pbr=0.3, per=0.2, psr=0.1（原物料/能源/鋼鐵/航運/營建等週期股，不看 dcf/div/capex）',\n  '3. 虧損成長股：psr=0.4, dcf=0.35, pbr=0.25（虧損且高成長，dcf 使用風險折現，不看 per/div/capex/evEbitda）',\n  '4. 成長股：dcf=0.5, per=0.3, psr=0.2（科技/生技等高成長股，不看 pbr/div/capex/evEbitda）',\n  '5. 存股：div=0.6, pbr=0.25, per=0.15（高殖利率穩定配息，不看 dcf/psr/capex/evEbitda）',\n  '6. 價值成長股：dcf=0.35, per=0.25, pbr=0.2, div=0.2（穩健成長且配息，不看 psr/capex/evEbitda）',\n  '7. 混合型：dcf=0.25, per=0.2, pbr=0.15, div=0.15, capex=0.15, evEbitda=0.1（多角化經營/轉型股，全模型均衡）',\n  '',\n  '【分類規則】',\n  '- 若 deterministicType=金融業 → 金融業',\n  '- 若屬於週期產業（原物料/能源/鋼鐵/航運/營建） → 週期性',\n  '- 若 EPS < 0 且 growthRate > 15% → 虧損成長股',\n  '- 若 growthRate > 15% 且 EPS > 0 → 成長股',\n  '- 若 currentYield > 5% 且 consecutiveYears >= 5 → 存股',\n  '- 若 growthRate 7-15% 且 currentYield 3-5% → 價值成長股',\n  '- 其他 → 混合型',\n  '',\n  '【輸出格式】',\n  'JSON 物件，key 為 ticker，value 包含：',\n  '- type: 分類名稱（7 選 1）',\n  '- description: 50 字內分類理由',\n  '- weights: 7 個模型權重（dcf, per, pbr, div, capex, evEbitda, psr），總和=1',\n  '- confidence: HIGH/MEDIUM/LOW',\n  '- narrative: 100 字內綜合說明（包含比價分析如有）'\n].join('\\n');\n\nlet userPrompt = `請分析以下股票的特性，判斷最適合的估值方法組合：\\n\\n${JSON.stringify(stockData, null, 2)}`;\n\nif (compareData && compareData.delta) {\n  const delta = compareData.delta;\n  userPrompt += `\\n\\n【比價分析】\\n本次分析與 ${delta.daysAgo} 天前相比：\\n價格變化：${delta.priceChange >= 0 ? '+' : ''}${(delta.priceChange * 100).toFixed(2)}%\\n估值方法：${delta.classificationChanged ? '已改變' : '維持不變'}\\n公允價區間變化：${delta.fairValueChange >= 0 ? '+' : ''}${(delta.fairValueChange * 100).toFixed(2)}%`;\n}\n\nconst openaiBody = {\n  model: 'gpt-5-mini',\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userPrompt }\n  ],\n};\n\nreturn [{ json: { openaiBody, analysisResult, compareData } }];"
      },
      "id": "b2c3d4e5-2222-4000-b000-000000000006",
      "name": "準備 LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openaiBody) }}",
        "options": {}
      },
      "id": "b2c3d4e5-2222-4000-b000-000000000007",
      "name": "LLM 分類",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "const llmResponse = $input.first().json;\nconst contextData = $('準備 LLM Prompt').first().json;\nconst ticker = contextData.analysisResult.ticker;\n\nconst validTypes = ['金融業', '週期性', '虧損成長股', '成長股', '存股', '價值成長股', '混合型'];\nconst modelKeys = ['dcf', 'per', 'pbr', 'div', 'capex', 'evEbitda', 'psr'];\n\nlet llmClassification;\ntry {\n  const content = llmResponse.choices?.[0]?.message?.content || '';\n  const parsed = JSON.parse(content);\n  const stockData = parsed[ticker];\n  \n  if (!stockData) {\n    throw new Error('Stock data not found in LLM response');\n  }\n  \n  const type = stockData.type;\n  const weights = stockData.weights || {};\n  \n  if (!validTypes.includes(type)) {\n    throw new Error(`Invalid type: ${type}`);\n  }\n  \n  for (const key of modelKeys) {\n    if (typeof weights[key] !== 'number') {\n      throw new Error(`Missing or invalid weight for ${key}`);\n    }\n  }\n  \n  llmClassification = {\n    type: type,\n    description: stockData.description || '',\n    weights: weights,\n    confidence: stockData.confidence || 'MEDIUM',\n    narrative: stockData.narrative || ''\n  };\n  \n} catch (err) {\n  llmClassification = {\n    type: 'INVALID',\n    description: `Guardrails failed: ${err.message}`,\n    weights: {\n      dcf: 0,\n      per: 0,\n      pbr: 0,\n      div: 0,\n      capex: 0,\n      evEbitda: 0,\n      psr: 0\n    },\n    confidence: 'LOW',\n    narrative: 'LLM classification failed validation, will use deterministic fallback'\n  };\n}\n\nreturn [{ json: {\n  ticker,\n  llmClassification,\n  save: false\n} }];"
      },
      "id": "b2c3d4e5-2222-4000-b000-000000000008",
      "name": "Guardrails 驗證",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VALUATION_API_URL + '/api/resynthesize/' + $json.ticker }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ llmClassification: $json.llmClassification, save: $json.save }) }}",
        "options": {}
      },
      "id": "b2c3d4e5-2222-4000-b000-000000000009",
      "name": "Apply LLM Weights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 300]
    }
  ],
  "connections": {
    "Webhook 接收查詢": {
      "main": [
        [
          {
            "node": "驗證 Ticker 格式",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "驗證 Ticker 格式": {
      "main": [
        [
          {
            "node": "呼叫估值 API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "呼叫估值 API": {
      "main": [
        [
          {
            "node": "GET Compare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Compare": {
      "main": [
        [
          {
            "node": "準備 LLM Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "準備 LLM Prompt": {
      "main": [
        [
          {
            "node": "LLM 分類",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM 分類": {
      "main": [
        [
          {
            "node": "Guardrails 驗證",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails 驗證": {
      "main": [
        [
          {
            "node": "Apply LLM Weights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2",
  "meta": {
    "instanceId": ""
  },
  "tags": []
}
