n8n_workflows/phase3-management.json
{
  "name": "Phase 3 投組管理 + 回測 + 警示",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "phase3",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c1000000-0000-4000-c000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "webhookId": "phase3-management"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst action = body.action;\n\nconst routes = {\n  holdings_add: {\n    apiPath: '/api/portfolio/holdings/' + (body.ticker || ''),\n    apiMethod: 'PUT',\n    apiBody: { shares: body.shares || 0, costBasis: body.costBasis || 0, notes: body.notes || '' }\n  },\n  holdings_remove: {\n    apiPath: '/api/portfolio/holdings/' + (body.ticker || ''),\n    apiMethod: 'DELETE',\n    apiBody: {}\n  },\n  holdings_list: {\n    apiPath: '/api/portfolio/holdings',\n    apiMethod: 'GET',\n    apiBody: {}\n  },\n  analytics: {\n    apiPath: '/api/portfolio/analytics',\n    apiMethod: 'GET',\n    apiBody: {}\n  },\n  alert_add: {\n    apiPath: '/api/alerts',\n    apiMethod: 'POST',\n    apiBody: { ticker: body.ticker, alertType: body.alertType, threshold: body.threshold }\n  },\n  alert_list: {\n    apiPath: '/api/alerts',\n    apiMethod: 'GET',\n    apiBody: {}\n  },\n  alert_check: {\n    apiPath: '/api/alerts/check',\n    apiMethod: 'POST',\n    apiBody: {}\n  },\n  alert_remove: {\n    apiPath: '/api/alerts/' + (body.alertId || ''),\n    apiMethod: 'DELETE',\n    apiBody: {}\n  },\n  backtest_run: {\n    apiPath: '/api/backtest/run',\n    apiMethod: 'POST',\n    apiBody: { minDaysAgo: body.minDaysAgo || 30, maxResults: body.maxResults || 100 }\n  },\n  backtest_summary: {\n    apiPath: '/api/backtest/summary',\n    apiMethod: 'GET',\n    apiBody: {}\n  },\n  backtest_ticker: {\n    apiPath: '/api/backtest/' + (body.ticker || ''),\n    apiMethod: 'GET',\n    apiBody: {}\n  }\n};\n\nconst route = routes[action];\nif (!route) {\n  throw new Error('未知 action: ' + action + '。支援: ' + Object.keys(routes).join(', '));\n}\n\nreturn [{ json: route }];"
      },
      "id": "c1000000-0000-4000-c000-000000000002",
      "name": "路由邏輯",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 400]
    },
    {
      "parameters": {
        "method": "={{ $json.apiMethod }}",
        "url": "={{ $env.VALUATION_API_URL + $json.apiPath }}",
        "sendBody": "={{ $json.apiMethod === 'POST' || $json.apiMethod === 'PUT' }}",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.apiBody) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c1000000-0000-4000-c000-000000000003",
      "name": "呼叫 API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "路由邏輯", "type": "main", "index": 0 }]]
    },
    "路由邏輯": {
      "main": [[{ "node": "呼叫 API", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Taipei"
  },
  "versionId": "1",
  "meta": { "instanceId": "" },
  "tags": []
}