n8n_workflows/portfolio-management.json
{
  "name": "追蹤清單管理",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "portfolio",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "c3d4e5f6-3333-4000-c000-000000000001",
      "name": "Webhook 接收請求",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "portfolio"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "add",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body?.action || $json.action }}",
                    "rightValue": "add",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "remove",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body?.action || $json.action }}",
                    "rightValue": "remove",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "list",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body?.action || $json.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "c3d4e5f6-3333-4000-c000-000000000002",
      "name": "依 Action 分流",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VALUATION_API_URL + '/api/portfolio' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tickers: $json.body?.tickers || $json.tickers || [] }) }}",
        "options": {}
      },
      "id": "c3d4e5f6-3333-4000-c000-000000000003",
      "name": "新增追蹤",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [550, 100]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $env.VALUATION_API_URL + '/api/portfolio/' + ($json.body?.tickers?.[0] || $json.tickers?.[0] || '') }}",
        "options": {}
      },
      "id": "c3d4e5f6-3333-4000-c000-000000000004",
      "name": "移除追蹤",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [550, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.VALUATION_API_URL + '/api/portfolio' }}",
        "options": {}
      },
      "id": "c3d4e5f6-3333-4000-c000-000000000005",
      "name": "列出追蹤清單",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [550, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "c3d4e5f6-3333-4000-c000-000000000006",
      "name": "回傳新增結果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "c3d4e5f6-3333-4000-c000-000000000007",
      "name": "回傳移除結果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "c3d4e5f6-3333-4000-c000-000000000008",
      "name": "回傳清單結果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 500]
    }
  ],
  "connections": {
    "Webhook 接收請求": {
      "main": [
        [
          {
            "node": "依 Action 分流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "依 Action 分流": {
      "main": [
        [
          {
            "node": "新增追蹤",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "移除追蹤",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "列出追蹤清單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新增追蹤": {
      "main": [
        [
          {
            "node": "回傳新增結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "移除追蹤": {
      "main": [
        [
          {
            "node": "回傳移除結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "列出追蹤清單": {
      "main": [
        [
          {
            "node": "回傳清單結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": ""
  },
  "tags": []
}
