n8n_workflows/portfolio-management.json
{
  "name": "追蹤清單管理",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "portfolio",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c3d4e5f6-3333-4000-c000-000000000001",
      "name": "Webhook 接收請求",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "portfolio"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst action = body.action;\n\nif (action === 'add') {\n  return [{ json: {\n    apiPath: '/api/portfolio',\n    apiMethod: 'POST',\n    apiBody: { tickers: body.tickers || [] }\n  }}];\n}\n\nif (action === 'remove') {\n  const ticker = (body.tickers && body.tickers[0]) || '';\n  return [{ json: {\n    apiPath: '/api/portfolio/' + ticker,\n    apiMethod: 'DELETE',\n    apiBody: {}\n  }}];\n}\n\nif (action === 'list') {\n  return [{ json: {\n    apiPath: '/api/portfolio',\n    apiMethod: 'GET',\n    apiBody: {}\n  }}];\n}\n\nthrow new Error('未知 action: ' + action + '。支援: add, remove, list');"
      },
      "id": "c3d4e5f6-3333-4000-c000-000000000010",
      "name": "路由邏輯",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "={{ $json.apiMethod }}",
        "url": "={{ $env.VALUATION_API_URL + $json.apiPath }}",
        "sendBody": "={{ $json.apiMethod === 'POST' }}",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.apiBody) }}",
        "options": {}
      },
      "id": "c3d4e5f6-3333-4000-c000-000000000011",
      "name": "呼叫 API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    }
  ],
  "connections": {
    "Webhook 接收請求": {
      "main": [[{ "node": "路由邏輯", "type": "main", "index": 0 }]]
    },
    "路由邏輯": {
      "main": [[{ "node": "呼叫 API", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "1",
  "meta": { "instanceId": "" },
  "tags": []
}