n8n_workflows/telegram-bot.json
{
  "name": "台股估值 Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "d1000000-0000-4000-d000-000000000001",
      "name": "Telegram Bot",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst m = msg.message || msg;\nconst chatId = String(m.chat?.id || '');\nconst text = (m.text || '').trim();\nconst parts = text.split(' ').filter(x => x);\nlet cmd = (parts[0] || '').split('@')[0].toLowerCase();\nconst args = parts.slice(1);\nif (!text.startsWith('/')) cmd = '/help';\n\nconst routes = {\n  '/analyze': () => ({ m: 'POST', p: '/webhook/analyze', fallbackPath: '/api/analyze/' + args[0], b: { ticker: args[0] }, useWebhook: true, need: args[0], u: '/analyze 2330' }),\n  '/a': () => ({ m: 'POST', p: '/webhook/analyze', fallbackPath: '/api/analyze/' + args[0], b: { ticker: args[0] }, useWebhook: true, need: args[0], u: '/a 2330' }),\n  '/add': () => ({ m: 'POST', p: '/api/portfolio', b: { tickers: args }, need: args[0], u: '/add 2330 2317' }),\n  '/remove': () => ({ m: 'DELETE', p: '/api/portfolio/' + args[0], b: {}, need: args[0], u: '/remove 2330' }),\n  '/rm': () => ({ m: 'DELETE', p: '/api/portfolio/' + args[0], b: {}, need: args[0], u: '/rm 2330' }),\n  '/list': () => ({ m: 'GET', p: '/api/portfolio', b: {} }),\n  '/ls': () => ({ m: 'GET', p: '/api/portfolio', b: {} }),\n  '/hold': () => ({ m: 'PUT', p: '/api/portfolio/holdings/' + args[0], b: { shares: +args[1], costBasis: +args[2] }, need: args[2], u: '/hold 2330 1000 580' }),\n  '/sell': () => ({ m: 'DELETE', p: '/api/portfolio/holdings/' + args[0], b: {}, need: args[0], u: '/sell 2330' }),\n  '/holdings': () => ({ m: 'GET', p: '/api/portfolio/holdings', b: {} }),\n  '/h': () => ({ m: 'GET', p: '/api/portfolio/holdings', b: {} }),\n  '/analytics': () => ({ m: 'GET', p: '/api/portfolio/analytics', b: {} }),\n  '/perf': () => ({ m: 'GET', p: '/api/portfolio/analytics', b: {} }),\n  '/alert': () => ({ m: 'POST', p: '/api/alerts', b: { ticker: args[0], alertType: args[1], threshold: +args[2] }, need: args[2], u: '/alert 2330 price_below 1800' }),\n  '/alerts': () => ({ m: 'GET', p: '/api/alerts', b: {} }),\n  '/check': () => ({ m: 'POST', p: '/api/alerts/check', b: {} }),\n  '/alert_off': () => ({ m: 'DELETE', p: '/api/alerts/' + args[0], b: {}, need: args[0], u: '/alert_off <ID>' }),\n  '/backtest': () => ({ m: 'POST', p: '/api/backtest/run', b: { minDaysAgo: 30, maxResults: 100 } }),\n  '/bt': () => ({ m: 'GET', p: '/api/backtest/summary', b: {} }),\n  '/help': () => ({ m: 'GET', p: '/api/health', b: {} }),\n  '/start': () => ({ m: 'GET', p: '/api/health', b: {} })\n};\n\nconst fn = routes[cmd];\nif (!fn) {\n  return [{ json: { chatId, command: '/help', args: [], apiMethod: 'GET', apiPath: '/api/health', apiBody: {}, useWebhook: false, errorMessage: '' } }];\n}\nconst route = fn();\nif (route.need !== undefined && !route.need) {\n  return [{ json: { chatId, command: cmd, args, apiMethod: 'GET', apiPath: '/api/health', apiBody: {}, useWebhook: false, errorMessage: '\\u7528\\u6cd5\\uff1a' + route.u } }];\n}\nreturn [{ json: { chatId, command: cmd, args, apiMethod: route.m, apiPath: route.p, fallbackPath: route.fallbackPath || '', apiBody: route.b, useWebhook: route.useWebhook || false, errorMessage: '' } }];"
      },
      "id": "d1000000-0000-4000-d000-000000000002",
      "name": "解析指令",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "={{ $json.apiMethod }}",
        "url": "={{ $json.useWebhook && $env.N8N_WEBHOOK_URL ? $env.N8N_WEBHOOK_URL + $json.apiPath : $env.VALUATION_API_URL + ($json.fallbackPath || $json.apiPath) }}",
        "sendBody": "={{ $json.apiMethod === 'POST' || $json.apiMethod === 'PUT' }}",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.apiBody) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "d1000000-0000-4000-d000-000000000003",
      "name": "呼叫 API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const route = $('解析指令').first().json;\nconst data = $input.first().json;\nconst chatId = route.chatId;\nconst cmd = route.command;\n\nif (route.errorMessage) {\n  return [{ json: { chatId, telegramMessage: '\\u274c ' + route.errorMessage } }];\n}\n\nconst f = (n, d) => n != null ? Number(n).toFixed(d || 2) : 'N/A';\nlet msg = '';\n\nif (cmd === '/analyze' || cmd === '/a') {\n  const s = data.result || data;\n  const src = (data.source || s.source || '').includes('llm') ? 'AI \\u589e\\u5f37' : '\\u78ba\\u5b9a\\u6027';\n  msg = '\\ud83d\\udcca <b>' + (s.ticker || data.ticker) + (s.stockName ? ' ' + s.stockName : '') + '</b> [' + src + ']\\n\\n';\n  if (s.llmClassification) {\n    msg += '\\ud83e\\udd16 <b>AI \\u5206\\u985e</b>\\uff1a' + s.llmClassification.type + '\\n';\n    msg += '\\u4fe1\\u5fc3\\u5ea6\\uff1a' + (s.llmClassification.confidence || 'N/A') + '\\n';\n    if (s.llmClassification.narrative) {\n      const narr = s.llmClassification.narrative.length > 200 ? s.llmClassification.narrative.slice(0, 200) + '...' : s.llmClassification.narrative;\n      msg += '\\ud83d\\udcac ' + narr + '\\n';\n    }\n    msg += '\\n';\n  } else {\n    msg += '\\u5206\\u985e\\uff1a' + (s.classification?.type || '\\u672a\\u5206\\u985e') + '\\n';\n  }\n  msg += '\\u73fe\\u50f9\\uff1a$' + f(s.currentPrice) + '\\n';\n  msg += '\\u5408\\u7406\\u50f9\\uff1a$' + f(s.weightedValuation?.fairValue) + '\\n';\n  const up = s.recommendation?.upside;\n  msg += '\\u5efa\\u8b70\\uff1a<b>' + (s.recommendation?.action || 'N/A') + '</b> (' + (up > 0 ? '+' : '') + f(up, 1) + '%)\\n';\n  if (s.recommendation?.reasons?.length) {\n    msg += '\\n';\n    s.recommendation.reasons.slice(0, 3).forEach(r => { msg += '\\u2022 ' + r + '\\n'; });\n  }\n} else if (cmd === '/list' || cmd === '/ls') {\n  const t = (data.tickers || []).map(x => x.ticker || x);\n  msg = t.length ? '\\ud83d\\udccb <b>\\u8ffd\\u8e64\\u6e05\\u55ae</b> (' + t.length + ' \\u6a94)\\n' + t.join(', ') : '\\ud83d\\udccb \\u8ffd\\u8e64\\u6e05\\u55ae\\u70ba\\u7a7a\\n/add 2330 \\u65b0\\u589e';\n} else if (cmd === '/add') {\n  const a = (data.added || []).filter(x => x.added).map(x => x.ticker);\n  msg = a.length ? '\\u2705 \\u5df2\\u65b0\\u589e\\uff1a' + a.join(', ') : '\\u26a0\\ufe0f \\u672a\\u65b0\\u589e\\uff08\\u53ef\\u80fd\\u5df2\\u5728\\u6e05\\u55ae\\u4e2d\\uff09';\n} else if (cmd === '/remove' || cmd === '/rm') {\n  msg = '\\u2705 \\u5df2\\u79fb\\u9664 ' + route.args[0];\n} else if (cmd === '/hold') {\n  msg = '\\u2705 \\u6301\\u5009\\u5df2\\u66f4\\u65b0\\uff1a' + route.args[0] + '\\n' + route.args[1] + ' \\u80a1 @$' + route.args[2];\n} else if (cmd === '/sell') {\n  msg = '\\u2705 \\u5df2\\u79fb\\u9664\\u6301\\u5009\\uff1a' + route.args[0];\n} else if (cmd === '/holdings' || cmd === '/h') {\n  const h = Array.isArray(data) ? data : (data.holdings || []);\n  if (h.length) {\n    msg = '\\ud83d\\udcbc <b>\\u6301\\u5009</b> (' + h.length + ' \\u6a94)\\n\\n';\n    h.forEach((x, i) => { msg += (i+1) + '. <b>' + x.ticker + '</b> ' + x.shares + '\\u80a1 @$' + f(x.costBasis) + '\\n'; });\n  } else {\n    msg = '\\ud83d\\udcbc \\u5c1a\\u7121\\u6301\\u5009\\n/hold 2330 1000 580 \\u65b0\\u589e';\n  }\n} else if (cmd === '/analytics' || cmd === '/perf') {\n  if (data.totalValue > 0) {\n    const s = data.unrealizedPnLPct >= 0 ? '+' : '';\n    msg = '\\ud83d\\udcca <b>\\u6295\\u7d44\\u7e3e\\u6548</b>\\n\\n';\n    msg += '\\u7e3d\\u5e02\\u503c\\uff1a$' + (data.totalValue?.toLocaleString() || 'N/A') + '\\n';\n    msg += '\\u640d\\u76ca\\uff1a' + s + (data.unrealizedPnLPct || 0) + '%\\n';\n    const uv = data.valuation?.undervalued || [];\n    const ov = data.valuation?.overvalued || [];\n    if (uv.length) msg += '\\n\\ud83d\\udfe2 \\u4f4e\\u4f30\\uff1a' + uv.join(', ') + '\\n';\n    if (ov.length) msg += '\\ud83d\\udd34 \\u9ad8\\u4f30\\uff1a' + ov.join(', ') + '\\n';\n  } else {\n    msg = '\\ud83d\\udcca \\u5c1a\\u7121\\u6295\\u7d44\\n/hold \\u65b0\\u589e\\u6301\\u5009';\n  }\n} else if (cmd === '/alert') {\n  msg = '\\u2705 \\u8b66\\u793a\\u5df2\\u5efa\\u7acb\\n' + route.args[0] + ' ' + route.args[1] + ' ' + route.args[2];\n} else if (cmd === '/alerts') {\n  const a = Array.isArray(data) ? data : (data.alerts || []);\n  if (a.length) {\n    msg = '\\ud83d\\udd14 <b>\\u8b66\\u793a</b> (' + a.length + ' \\u5247)\\n\\n';\n    a.forEach(x => { msg += '#' + x.id + ' ' + x.ticker + ' ' + x.alertType + ' ' + x.threshold + '\\n'; });\n    msg += '\\n/alert_off <ID> \\u505c\\u7528';\n  } else {\n    msg = '\\ud83d\\udd14 \\u5c1a\\u7121\\u8b66\\u793a\\n/alert 2330 price_below 1800';\n  }\n} else if (cmd === '/check') {\n  const t = data.triggered || [];\n  msg = t.length ? '\\ud83d\\udd14 ' + t.length + ' \\u5247\\u89f8\\u767c\\uff01\\n\\n' + t.map(x => '\\u2022 ' + x.message).join('\\n') : '\\u2705 \\u5df2\\u6aa2\\u67e5 ' + (data.checkedCount || 0) + ' \\u5247\\uff0c\\u7121\\u89f8\\u767c';\n} else if (cmd === '/alert_off') {\n  msg = '\\u2705 \\u5df2\\u505c\\u7528\\u8b66\\u793a #' + route.args[0];\n} else if (cmd === '/backtest') {\n  msg = '\\ud83d\\udd04 \\u56de\\u6e2c\\u5b8c\\u6210';\n} else if (cmd === '/bt') {\n  const o = data.overall;\n  if (o?.totalChecks > 0) {\n    msg = '\\ud83d\\udcca <b>\\u56de\\u6e2c</b>\\n\\n';\n    if (o.hitRate30d != null) msg += '30\\u5929\\uff1a' + o.hitRate30d + '%\\n';\n    if (o.hitRate90d != null) msg += '90\\u5929\\uff1a' + o.hitRate90d + '%\\n';\n    msg += '\\u6a23\\u672c\\uff1a' + o.totalChecks + '\\n';\n    const lb = data.leaderboard || [];\n    if (lb.length) {\n      msg += '\\n\\ud83c\\udfc6 \\u6392\\u540d\\uff1a\\n';\n      lb.slice(0, 3).forEach(x => { msg += x.rank + '. ' + x.model.toUpperCase() + ' MAE ' + x.avgMAE + '%\\n'; });\n    }\n  } else {\n    msg = '\\ud83d\\udcca \\u5c1a\\u7121\\u56de\\u6e2c\\n/backtest \\u57f7\\u884c';\n  }\n} else {\n  msg = '\\ud83e\\udd16 <b>\\u53f0\\u80a1\\u4f30\\u503c Bot \\u4f7f\\u7528\\u6307\\u5357</b>\\n\\n';\n  msg += '\\u672c Bot \\u7d50\\u5408 7 \\u7a2e\\u4f30\\u503c\\u6a21\\u578b + AI \\u667a\\u6167\\u5206\\u6790\\uff0c\\u5354\\u52a9\\u4f60\\u5224\\u65b7\\u53f0\\u80a1\\u8cb7\\u8ce3\\u6642\\u6a5f\\u3002\\n\\n';\n  msg += '\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\n';\n  msg += '\\ud83d\\udcca <b>\\u5373\\u6642\\u5206\\u6790</b>\\n';\n  msg += '/analyze 2330 \\u2014 \\u5b8c\\u6574\\u5206\\u6790\\u5831\\u544a\\n';\n  msg += '/a 2330 \\u2014 \\u540c\\u4e0a\\uff08\\u7c21\\u5beb\\uff09\\n';\n  msg += '<i>\\u2192 \\u986f\\u793a\\u73fe\\u50f9\\u3001\\u5408\\u7406\\u50f9\\u3001\\u6f32\\u8dcc\\u5e45\\u3001\\u8cb7\\u8ce3\\u5efa\\u8b70</i>\\n\\n';\n  msg += '\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\n';\n  msg += '\\ud83d\\udccb <b>\\u8ffd\\u8e64\\u6e05\\u55ae</b>\\n';\n  msg += '/add 2330 2317 \\u2014 \\u65b0\\u589e\\u80a1\\u7968\\u5230\\u6e05\\u55ae\\n';\n  msg += '/remove 2330 \\u2014 \\u5f9e\\u6e05\\u55ae\\u79fb\\u9664\\n';\n  msg += '/list \\u2014 \\u67e5\\u770b\\u76ee\\u524d\\u6e05\\u55ae\\n';\n  msg += '<i>\\u2192 \\u6e05\\u55ae\\u4e2d\\u7684\\u80a1\\u7968\\u6bcf\\u9031\\u4e00\\u81ea\\u52d5\\u7522\\u751f\\u4f30\\u503c\\u5831\\u544a</i>\\n\\n';\n  msg += '\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\n';\n  msg += '\\ud83d\\udcbc <b>\\u6301\\u5009\\u7ba1\\u7406</b>\\n';\n  msg += '/hold 2330 1000 580 \\u2014 \\u65b0\\u589e\\u6301\\u5009\\n';\n  msg += '  \\u2514 \\u683c\\u5f0f\\uff1a/hold \\u80a1\\u7968\\u4ee3\\u78bc \\u80a1\\u6578 \\u6210\\u672c\\u50f9\\n';\n  msg += '/sell 2330 \\u2014 \\u79fb\\u9664\\u6301\\u5009\\n';\n  msg += '/holdings \\u2014 \\u67e5\\u770b\\u6240\\u6709\\u6301\\u5009\\n';\n  msg += '/analytics \\u2014 \\u6295\\u7d44\\u7e3e\\u6548\\u5206\\u6790\\n';\n  msg += '<i>\\u2192 \\u986f\\u793a\\u7e3d\\u5e02\\u503c\\u3001\\u640d\\u76ca\\u3001\\u4f4e\\u4f30/\\u9ad8\\u4f30\\u80a1</i>\\n\\n';\n  msg += '\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\n';\n  msg += '\\ud83d\\udd14 <b>\\u50f9\\u683c\\u8b66\\u793a</b>\\n';\n  msg += '/alert 2330 price_below 550 \\u2014 \\u5efa\\u7acb\\u8b66\\u793a\\n';\n  msg += '  \\u2514 \\u8b66\\u793a\\u985e\\u578b\\uff1a\\n';\n  msg += '    \\u2022 <code>price_below</code> \\u50f9\\u683c\\u8dcc\\u7834\\n';\n  msg += '    \\u2022 <code>price_above</code> \\u50f9\\u683c\\u7a81\\u7834\\n';\n  msg += '    \\u2022 <code>upside_above</code> \\u6f32\\u5e45\\u8d85\\u904e\\n';\n  msg += '    \\u2022 <code>downside_below</code> \\u8dcc\\u5e45\\u8d85\\u904e\\n';\n  msg += '/alerts \\u2014 \\u67e5\\u770b\\u6240\\u6709\\u8b66\\u793a\\n';\n  msg += '/check \\u2014 \\u7acb\\u5373\\u6aa2\\u67e5\\u4e00\\u6b21\\n';\n  msg += '/alert_off 1 \\u2014 \\u505c\\u7528\\u8b66\\u793a\\uff08\\u586b ID\\uff09\\n';\n  msg += '<i>\\u2192 \\u7cfb\\u7d71\\u6bcf\\u65e5 18:00 \\u81ea\\u52d5\\u6aa2\\u67e5\\u4e26\\u63a8\\u64ad</i>\\n\\n';\n  msg += '\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\n';\n  msg += '\\ud83d\\udcc8 <b>\\u56de\\u6e2c\\u9a57\\u8b49</b>\\n';\n  msg += '/backtest \\u2014 \\u57f7\\u884c\\u56de\\u6e2c\\u6383\\u63cf\\n';\n  msg += '/bt \\u2014 \\u67e5\\u770b\\u56de\\u6e2c\\u6458\\u8981\\n';\n  msg += '<i>\\u2192 \\u9a57\\u8b49 7 \\u7a2e\\u6a21\\u578b\\u904e\\u53bb\\u9810\\u6e2c\\u7684\\u6e96\\u78ba\\u5ea6</i>\\n\\n';\n  msg += '\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\n';\n  msg += '\\ud83d\\udca1 <b>\\u5efa\\u8b70\\u64cd\\u4f5c\\u6d41\\u7a0b</b>\\n';\n  msg += '1\\ufe0f\\u20e3 /add \\u65b0\\u589e\\u60f3\\u8ffd\\u8e64\\u7684\\u80a1\\u7968\\n';\n  msg += '2\\ufe0f\\u20e3 /analyze \\u67e5\\u770b\\u5373\\u6642\\u5206\\u6790\\n';\n  msg += '3\\ufe0f\\u20e3 /hold \\u8a18\\u9304\\u5be6\\u969b\\u8cb7\\u9032\\u7684\\u6301\\u5009\\n';\n  msg += '4\\ufe0f\\u20e3 /alert \\u8a2d\\u5b9a\\u50f9\\u683c\\u8b66\\u793a\\n';\n  msg += '5\\ufe0f\\u20e3 \\u7b49\\u5f85\\u6bcf\\u9031\\u81ea\\u52d5\\u5831\\u544a + \\u6bcf\\u65e5\\u8b66\\u793a\\u63a8\\u64ad';\n}\n\nreturn [{ json: { chatId, telegramMessage: msg } }];"
      },
      "id": "d1000000-0000-4000-d000-000000000004",
      "name": "格式化回覆",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "d1000000-0000-4000-d000-000000000005",
      "name": "回覆 Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1000, 300],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Bot": {
      "main": [[{ "node": "解析指令", "type": "main", "index": 0 }]]
    },
    "解析指令": {
      "main": [[{ "node": "呼叫 API", "type": "main", "index": 0 }]]
    },
    "呼叫 API": {
      "main": [[{ "node": "格式化回覆", "type": "main", "index": 0 }]]
    },
    "格式化回覆": {
      "main": [[{ "node": "回覆 Telegram", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Taipei"
  },
  "versionId": "2",
  "meta": { "instanceId": "" },
  "tags": []
}
