n8n_workflows/weekly-valuation.json
{
  "name": "每週估值分析",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2,
              "triggerAtDay": 1
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000001",
      "name": "每週一 02:00 觸發",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.VALUATION_API_URL + '/api/portfolio' }}",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000002",
      "name": "取得追蹤清單",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst tickers = (data.tickers || []).map(t => t.ticker || t);\n\nif (tickers.length === 0) {\n  throw new Error('追蹤清單為空，請先新增股票');\n}\n\n// 拆成每 10 檔一批\nconst chunkSize = 10;\nconst chunks = [];\nfor (let i = 0; i < tickers.length; i += chunkSize) {\n  chunks.push(tickers.slice(i, i + chunkSize));\n}\n\nreturn chunks.map((chunk, idx) => ({\n  json: {\n    batchIndex: idx + 1,\n    totalBatches: chunks.length,\n    tickers: chunk\n  }\n}));"
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000003",
      "name": "準備批次請求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000020",
      "name": "分批處理",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VALUATION_API_URL + '/api/analyze/batch' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tickers: $json.tickers }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000004",
      "name": "批次估值分析",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        500
      ]
    },
    {
      "parameters": {
        "amount": 420
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000021",
      "name": "等待 7 分鐘",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1250,
        500
      ],
      "webhookId": "batch-wait-webhook-id"
    },
    {
      "parameters": {
        "jsCode": "// 收集所有批次的結果\nconst allBatchResponses = $('批次估值分析').all();\n\nlet allResults = [];\nlet allErrors = [];\n\nallBatchResponses.forEach(item => {\n  const data = item.json;\n  if (data.results) allResults = allResults.concat(data.results);\n  if (data.errors) allErrors = allErrors.concat(data.errors);\n});\n\nconst now = new Date();\nconst dateStr = `${now.getFullYear()}/${String(now.getMonth() + 1).padStart(2, '0')}/${String(now.getDate()).padStart(2, '0')}`;\n\nconst buyStocks = allResults\n  .filter(r => r.recommendation?.action === 'BUY' || r.recommendation?.action === 'STRONG_BUY')\n  .sort((a, b) => (b.recommendation?.upside || 0) - (a.recommendation?.upside || 0));\n\nconst sellStocks = allResults\n  .filter(r => r.recommendation?.action === 'SELL' || r.recommendation?.action === 'STRONG_SELL');\n\nconst holdStocks = allResults\n  .filter(r => r.recommendation?.action === 'HOLD');\n\nreturn [{\n  json: {\n    date: dateStr,\n    totalStocks: allResults.length,\n    buyCount: buyStocks.length,\n    sellCount: sellStocks.length,\n    holdCount: holdStocks.length,\n    buyStocks,\n    sellStocks,\n    holdStocks,\n    allResults,\n    errors: allErrors,\n    top5Buy: buyStocks.slice(0, 5)\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000006",
      "name": "合併結果與統計",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('合併結果與統計').first().json;\nconst allResults = data.allResults || [];\n\n// 取得回饋權重數據\nlet feedbackWeightsData = {};\ntry {\n  const fbRaw = $('取得回饋權重').first().json;\n  if (fbRaw && !fbRaw.error) feedbackWeightsData = fbRaw;\n} catch (e) { /* 回饋權重不可用，使用空預設 */ }\n\nconst stockData = allResults.map(stock => ({\n  ticker: stock.ticker,\n  currentPrice: stock.currentPrice,\n  classification: stock.classification?.type || 'UNKNOWN',\n  weightedValuation: {\n    dcfFairValue: stock.weightedValuation?.dcfFairValue ?? null,\n    perFairValue: stock.weightedValuation?.perFairValue ?? null,\n    pbrFairValue: stock.weightedValuation?.pbrFairValue ?? null,\n    divFairValue: stock.weightedValuation?.divFairValue ?? null,\n    capexFairValue: stock.weightedValuation?.capexFairValue ?? null,\n    evEbitdaFairValue: stock.weightedValuation?.evEbitdaFairValue ?? null,\n    psrFairValue: stock.weightedValuation?.psrFairValue ?? null\n  },\n  metrics: {\n    currentPE: stock.perSummary?.currentPE ?? null,\n    currentYield: stock.dividendSummary?.currentYield ?? null,\n    consecutiveYears: stock.dividendSummary?.consecutiveYears ?? null,\n    growthRate: stock.dcfSummary?.growthRate ?? null,\n    capExIntensity: stock.capexSummary?.capExIntensity ?? null\n  }\n}));\n\nconst systemPromptLines = [\n  '你是台股七模型估值分析系統的 AI 分析師。根據七個獨立估值模型的結果，為每檔股票判斷分類類型並分配模型權重。',\n  '',\n  '七種分類：',\n  '1. 金融業 — 營運現金流含存放款，PBR 主導，DCF 不適用',\n  '2. 週期性 — 週期性產業，EV/EBITDA + PBR 為主',\n  '3. 虧損成長股 — EPS 為負，PSR 主導，EV/EBITDA 補充',\n  '4. 成長股 — 高營收/盈餘成長，DCF 主導',\n  '5. 存股 — 穩定高殖利率，股利模型主導',\n  '6. 價值成長股 — 兼具成長與配息，七模型均衡',\n  '7. 混合型 — 特徵不明顯，均衡參考',\n  '',\n  '規則：',\n  '1. 每個 weight 在 [0, 0.50] 範圍',\n  '2. 7 個 weight (dcf, per, pbr, div, capex, evEbitda, psr) 加總 = 1.0',\n  '3. 不可用模型（值為 null）的 weight 必須 = 0',\n  '4. 提供繁體中文分析敘述（2-3 句）',\n  '',\n  '七模型：',\n  '- dcf: DCF 折現現金流',\n  '- per: PER 本益比',\n  '- pbr: PBR 淨值比',\n  '- div: 股利折現',\n  '- capex: CapEx 資本支出驅動',\n  '- evEbitda: EV/EBITDA 企業價值倍數',\n  '- psr: PSR 股價營收比',\n];\n\n// 加入回饋權重參考\nif (feedbackWeightsData.initialized && feedbackWeightsData.feedbackByType) {\n  systemPromptLines.push('');\n  systemPromptLines.push('以下是系統根據歷史回測 MAE 計算的回饋權重，供你參考但不必完全遵循：');\n  systemPromptLines.push('分類類型 | DCF | PER | PBR | 股利 | CapEx | EV/EBITDA | PSR | 樣本數');\n  for (const [type, info] of Object.entries(feedbackWeightsData.feedbackByType)) {\n    const w = info.weights || {};\n    const fmt = (v) => v != null ? v.toFixed(2) : '\\u2014';\n    systemPromptLines.push(type + ' | ' + fmt(w.dcf) + ' | ' + fmt(w.per) + ' | ' + fmt(w.pbr) + ' | ' + fmt(w.div) + ' | ' + fmt(w.capex) + ' | ' + fmt(w.evEbitda) + ' | ' + fmt(w.psr) + ' | ' + (info.totalChecks || 0));\n  }\n  systemPromptLines.push('');\n  systemPromptLines.push('這些權重反映了各模型在實際回測中的準確度，MAE 越低的模型權重越高。');\n}\n\nsystemPromptLines.push('');\nsystemPromptLines.push('輸出純 JSON：{ \"stocks\": { \"<ticker>\": { \"type\": \"分類名稱\", \"description\": \"一句話\", \"weights\": { \"dcf\": 0.XX, \"per\": 0.XX, \"pbr\": 0.XX, \"div\": 0.XX, \"capex\": 0.XX, \"evEbitda\": 0.XX, \"psr\": 0.XX }, \"confidence\": \"HIGH|MEDIUM|LOW\", \"narrative\": \"2-3 句分析\" } } }');\n\nconst systemPrompt = systemPromptLines.join('\\n');\nconst userPrompt = `請分析以下 ${stockData.length} 檔股票的估值數據：\\n\\n${JSON.stringify(stockData, null, 2)}`;\n\nconst openaiBody = {\n  model: 'gpt-5-mini',\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userPrompt }\n  ],\n};\n\nreturn [{\n  json: {\n    openaiBody,\n    originalData: { ...data, feedbackWeightsData }\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000011",
      "name": "準備 LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openaiBody) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000012",
      "name": "LLM 分類",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst originalData = $('準備 LLM Prompt').first().json.originalData;\n\nconst content = response.choices?.[0]?.message?.content;\n\nif (!content) {\n  return [{\n    json: {\n      stocks: {},\n      save: false,\n      skipResynth: true,\n      originalData\n    }\n  }];\n}\n\ntry {\n  const parsed = JSON.parse(content);\n  const stocks = parsed.stocks || parsed;\n  \n  const validTypes = ['金融業', '週期性', '虧損成長股', '成長股', '存股', '價值成長股', '混合型'];\n  const validatedStocks = {};\n  \n  for (const [ticker, classification] of Object.entries(stocks)) {\n    if (!classification.type || !validTypes.includes(classification.type)) {\n      continue;\n    }\n    \n    const weights = classification.weights || {};\n    const requiredKeys = ['dcf', 'per', 'pbr', 'div', 'capex', 'evEbitda', 'psr'];\n    const hasAllKeys = requiredKeys.every(k => typeof weights[k] === 'number');\n    \n    if (!hasAllKeys) {\n      continue;\n    }\n    \n    validatedStocks[ticker] = classification;\n  }\n  \n  const hasStocks = Object.keys(validatedStocks).length > 0;\n  return [{\n    json: {\n      stocks: validatedStocks,\n      save: false,\n      skipResynth: !hasStocks,\n      originalData\n    }\n  }];\n  \n} catch (error) {\n  return [{\n    json: {\n      stocks: {},\n      save: false,\n      skipResynth: true,\n      originalData,\n      error: error.message\n    }\n  }];\n}"
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000013",
      "name": "Guardrails 驗證",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        100
      ]
    },
    {
      "parameters": {
        "method": "={{ $json.skipResynth ? 'GET' : 'POST' }}",
        "url": "={{ $json.skipResynth ? ($env.VALUATION_API_URL + '/api/portfolio') : ($env.VALUATION_API_URL + '/api/resynthesize/batch') }}",
        "sendBody": "={{ !$json.skipResynth }}",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ stocks: $json.stocks, save: false }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000014",
      "name": "Apply LLM Weights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.VALUATION_API_URL + '/api/backtest/summary' }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000015",
      "name": "取得回測摘要",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2750,
        100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.VALUATION_API_URL + '/api/portfolio/analytics' }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000016",
      "name": "取得投組績效",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const resynthResponse = $('Apply LLM Weights').first().json;\nconst originalStats = $('合併結果與統計').first().json;\nconst backtestSummary = $('取得回測摘要').first().json || {};\nconst portfolioAnalytics = $('取得投組績效').first().json || {};\nlet feedbackData = {};\ntry {\n  const fbRaw = $('取得回饋權重').first().json;\n  if (fbRaw && !fbRaw.error) feedbackData = fbRaw;\n} catch (e) { /* 回饋權重不可用 */ }\n\nconst enhancedMap = {};\nif (resynthResponse.results && Array.isArray(resynthResponse.results)) {\n  resynthResponse.results.forEach(result => {\n    enhancedMap[result.ticker] = result.result || result;\n  });\n}\n\nconst allResults = originalStats.allResults.map(orig => {\n  return enhancedMap[orig.ticker] || orig;\n});\n\nconst buyStocks = allResults\n  .filter(s => s.recommendation?.action === 'BUY')\n  .sort((a, b) => (b.recommendation?.upside || 0) - (a.recommendation?.upside || 0))\n  .slice(0, 5);\n\nconst sellStocks = allResults\n  .filter(s => s.recommendation?.action === 'SELL')\n  .slice(0, 5);\n\nconst stats = {\n  total: allResults.length,\n  buy: allResults.filter(r => r.recommendation?.action === 'BUY').length,\n  hold: allResults.filter(r => r.recommendation?.action === 'HOLD').length,\n  sell: allResults.filter(r => r.recommendation?.action === 'SELL').length\n};\n\nlet message = `\\u{1F4CA} 每週估值分析報告\\n`;\nmessage += `時間：${new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' })}\\n\\n`;\nmessage += `\\u{1F4CA} 統計摘要\\n`;\nmessage += `總計：${stats.total} 檔\\n`;\nmessage += `買進：${stats.buy} 檔\\n`;\nmessage += `持有：${stats.hold} 檔\\n`;\nmessage += `賣出：${stats.sell} 檔\\n\\n`;\n\nif (buyStocks.length > 0) {\n  message += `\\u{1F7E2} 建議買進 (前 5 名)\\n`;\n  buyStocks.forEach((stock, idx) => {\n    const classType = stock.llmClassification?.type || stock.classification?.type || '未分類';\n    const fbTag = stock.feedbackMetadata?.source === 'backtest-feedback' ? ' [回饋]' : '';\n    message += `${idx + 1}. ${stock.ticker}${stock.stockName ? ' ' + stock.stockName : ''}${fbTag}\\n`;\n    message += `   類型：${classType}\\n`;\n    message += `   現價：$${stock.currentPrice?.toFixed(2) || 'N/A'}\\n`;\n    message += `   合理價：$${stock.weightedValuation?.fairValue?.toFixed(2) || 'N/A'}\\n`;\n    message += `   上漲空間：${stock.recommendation?.upside?.toFixed(1) || 'N/A'}%\\n\\n`;\n  });\n}\n\nif (sellStocks.length > 0) {\n  message += `\\u{1F534} 建議賣出 (前 5 名)\\n`;\n  sellStocks.forEach((stock, idx) => {\n    const classType = stock.llmClassification?.type || stock.classification?.type || '未分類';\n    const fbTag = stock.feedbackMetadata?.source === 'backtest-feedback' ? ' [回饋]' : '';\n    message += `${idx + 1}. ${stock.ticker}${stock.stockName ? ' ' + stock.stockName : ''}${fbTag}\\n`;\n    message += `   類型：${classType}\\n`;\n    message += `   現價：$${stock.currentPrice?.toFixed(2) || 'N/A'}\\n`;\n    message += `   合理價：$${stock.weightedValuation?.fairValue?.toFixed(2) || 'N/A'}\\n\\n`;\n  });\n}\n\nif (resynthResponse.summary?.enhanced > 0) {\n  message += `\\u{1F916} AI 分析：${resynthResponse.summary.enhanced} 檔股票已套用 LLM 智能權重\\n\\n`;\n}\n\nconst bt = backtestSummary.overall;\nif (bt && bt.totalChecks > 0) {\n  message += `\\u{1F4CA} 回測準確度\\n`;\n  if (bt.hitRate30d != null) message += `30 天 hit rate: ${bt.hitRate30d}%`;\n  if (bt.hitRate90d != null) message += ` | 90 天: ${bt.hitRate90d}%`;\n  message += `\\n`;\n  const lb = backtestSummary.leaderboard;\n  if (lb && lb.length > 0) {\n    message += `最準模型: ${lb[0].model.toUpperCase()} (MAE ${lb[0].avgMAE}%)\\n`;\n  }\n  message += `\\n`;\n}\n\n\n// 回饋調權狀態\nif (feedbackData.initialized && feedbackData.feedbackByType) {\n  const fbTypes = Object.keys(feedbackData.feedbackByType);\n  const totalSamples = Object.values(feedbackData.feedbackByType).reduce((sum, v) => sum + (v.totalChecks || 0), 0);\n  message += `\\u{1F504} 回饋調權狀態\\n`;\n  message += `狀態：已啟用\\n`;\n  message += `覆蓋類型：${fbTypes.length} 種\\n`;\n  message += `總樣本數：${totalSamples} 筆\\n`;\n  message += `\\n`;\n} else {\n  message += `\\u{1F504} 回饋調權狀態：尚未啟用\\n\\n`;\n}\nif (portfolioAnalytics.totalValue > 0) {\n  message += `\\u{1F4BC} 投組績效\\n`;\n  message += `總價值: $${portfolioAnalytics.totalValue?.toLocaleString() || 'N/A'}`;\n  if (portfolioAnalytics.unrealizedPnLPct != null) {\n    const sign = portfolioAnalytics.unrealizedPnLPct >= 0 ? '+' : '';\n    message += ` (${sign}${portfolioAnalytics.unrealizedPnLPct}%)`;\n  }\n  message += `\\n`;\n  const buyTickers = portfolioAnalytics.valuation?.undervalued || [];\n  if (buyTickers.length > 0) {\n    message += `BUY 推薦: ${buyTickers.slice(0, 5).join(', ')}\\n`;\n  }\n  const risk = portfolioAnalytics.risk;\n  if (risk) {\n    message += `產業集中度: 最大 ${risk.sectorConcentration}%\\n`;\n  }\n  message += `\\n`;\n}\n\nmessage += `\\u{1F4C8} 完整報告請查看 Email`;\n\nreturn [{ json: { telegramMessage: message } }];"
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000007",
      "name": "產生 Telegram 訊息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3250,
        -50
      ]
    },
    {
      "parameters": {
        "jsCode": "const resynthResponse = $('Apply LLM Weights').first().json;\nconst originalStats = $('合併結果與統計').first().json;\nconst backtestSummary = $('取得回測摘要').first().json || {};\nconst portfolioAnalytics = $('取得投組績效').first().json || {};\nlet feedbackData = {};\ntry {\n  const fbRaw = $('取得回饋權重').first().json;\n  if (fbRaw && !fbRaw.error) feedbackData = fbRaw;\n} catch (e) { /* 回饋權重不可用 */ }\n\nconst enhancedMap = {};\nif (resynthResponse.results && Array.isArray(resynthResponse.results)) {\n  resynthResponse.results.forEach(result => {\n    enhancedMap[result.ticker] = result.result || result;\n  });\n}\n\nconst allResults = originalStats.allResults.map(orig => {\n  return enhancedMap[orig.ticker] || orig;\n});\n\nconst getColor = (action) => {\n  switch (action) {\n    case 'BUY': return '#28a745';\n    case 'SELL': return '#dc3545';\n    default: return '#6c757d';\n  }\n};\n\nconst getBgColor = (action) => {\n  switch (action) {\n    case 'BUY': return '#d4edda';\n    case 'SELL': return '#f8d7da';\n    default: return '#e9ecef';\n  }\n};\n\nconst stats = {\n  total: allResults.length,\n  buy: allResults.filter(r => r.recommendation?.action === 'BUY').length,\n  hold: allResults.filter(r => r.recommendation?.action === 'HOLD').length,\n  sell: allResults.filter(r => r.recommendation?.action === 'SELL').length\n};\n\nlet tableRows = '';\nallResults.forEach(stock => {\n  const action = stock.recommendation?.action || 'HOLD';\n  const classType = stock.llmClassification?.type || stock.classification?.type || '未分類';\n  tableRows += `<tr style=\"background-color: ${getBgColor(action)};\">`;\n  tableRows += `<td style=\"padding: 12px; border: 1px solid #ddd;\">${stock.ticker}${stock.stockName ? ' ' + stock.stockName : ''}</td>`;\n  tableRows += `<td style=\"padding: 12px; border: 1px solid #ddd;\">${classType}</td>`;\n  tableRows += `<td style=\"padding: 12px; border: 1px solid #ddd; text-align: right;\">$${stock.currentPrice?.toFixed(2) || 'N/A'}</td>`;\n  tableRows += `<td style=\"padding: 12px; border: 1px solid #ddd; text-align: right;\">$${stock.weightedValuation?.fairValue?.toFixed(2) || 'N/A'}</td>`;\n  tableRows += `<td style=\"padding: 12px; border: 1px solid #ddd; text-align: right; color: ${getColor(action)}; font-weight: bold;\">${stock.recommendation?.upside?.toFixed(1) || 'N/A'}%</td>`;\n  tableRows += `<td style=\"padding: 12px; border: 1px solid #ddd; text-align: center; color: ${getColor(action)}; font-weight: bold;\">${action}</td>`;\n  const weightSource = stock.feedbackMetadata?.source === 'backtest-feedback' ? 'Feedback' : (stock.llmClassification ? 'LLM' : 'Default');\n  tableRows += `<td style=\"padding: 12px; border: 1px solid #ddd; text-align: center;\">${weightSource}</td>`;\n  tableRows += `</tr>`;\n});\n\nlet narrativesSection = '';\nconst stocksWithNarratives = allResults.filter(s => s.llmClassification?.narrative);\nif (stocksWithNarratives.length > 0) {\n  narrativesSection = `<div style=\"margin-top: 30px; padding: 20px; background-color: #f8f9fa; border-radius: 8px;\"><h3 style=\"color: #495057; margin-bottom: 15px;\">AI 深度分析</h3>`;\n  stocksWithNarratives.forEach(stock => {\n    narrativesSection += `<div style=\"margin-bottom: 15px; padding: 10px; background-color: white; border-left: 4px solid #007bff; border-radius: 4px;\"><strong style=\"color: #007bff;\">${stock.ticker}${stock.stockName ? ' ' + stock.stockName : ''}</strong> <span style=\"margin-left: 10px; color: #6c757d; font-size: 0.9em;\">${stock.llmClassification?.type || ''}</span><p style=\"margin: 8px 0 0 0; color: #495057; line-height: 1.6;\">${stock.llmClassification.narrative}</p></div>`;\n  });\n  narrativesSection += `</div>`;\n}\n\nlet backtestSection = '';\nconst bt = backtestSummary.overall;\nif (bt && bt.totalChecks > 0) {\n  const lb = backtestSummary.leaderboard || [];\n  let lbRows = '';\n  lb.slice(0, 5).forEach(item => {\n    lbRows += `<tr><td style=\"padding: 8px; border: 1px solid #ddd;\">#${item.rank}</td><td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold;\">${item.model.toUpperCase()}</td><td style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">${item.avgMAE}%</td></tr>`;\n  });\n  backtestSection = `<div style=\"margin-top: 30px; padding: 20px; background-color: #e8f5e9; border-radius: 8px;\"><h3 style=\"color: #2e7d32; margin-bottom: 15px;\">回測準確度</h3><div style=\"display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px; margin-bottom: 15px;\"><div style=\"text-align: center;\"><div style=\"font-size: 12px; color: #666;\">30 天 Hit Rate</div><div style=\"font-size: 24px; font-weight: bold; color: #2e7d32;\">${bt.hitRate30d != null ? bt.hitRate30d + '%' : 'N/A'}</div></div><div style=\"text-align: center;\"><div style=\"font-size: 12px; color: #666;\">90 天 Hit Rate</div><div style=\"font-size: 24px; font-weight: bold; color: #2e7d32;\">${bt.hitRate90d != null ? bt.hitRate90d + '%' : 'N/A'}</div></div><div style=\"text-align: center;\"><div style=\"font-size: 12px; color: #666;\">樣本數</div><div style=\"font-size: 24px; font-weight: bold; color: #2e7d32;\">${bt.totalChecks}</div></div></div>${lbRows ? `<h4 style=\"color: #495057;\">模型排名 (MAE)</h4><table style=\"width: 100%; border-collapse: collapse;\"><thead><tr style=\"background-color: #c8e6c9;\"><th style=\"padding: 8px; border: 1px solid #ddd;\">排名</th><th style=\"padding: 8px; border: 1px solid #ddd;\">模型</th><th style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">平均 MAE</th></tr></thead><tbody>${lbRows}</tbody></table>` : ''}</div>`;\n}\n\n\nlet feedbackSection = '';\nif (feedbackData.initialized && feedbackData.feedbackByType) {\n  const fbTypes = Object.entries(feedbackData.feedbackByType);\n  const totalSamples = fbTypes.reduce((sum, [, v]) => sum + (v.totalChecks || 0), 0);\n  const confidenceLevel = totalSamples > 100 ? 'HIGH' : totalSamples > 30 ? 'MEDIUM' : 'LOW';\n  const confColor = confidenceLevel === 'HIGH' ? '#2e7d32' : confidenceLevel === 'MEDIUM' ? '#f57c00' : '#d32f2f';\n  let fbRows = '';\n  fbTypes.forEach(([type, info]) => {\n    const w = info.weights || {};\n    const fmt = (v) => v != null ? (v * 100).toFixed(0) + '%' : '\\u2014';\n    fbRows += `<tr><td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold;\">${type}</td>`;\n    fbRows += `<td style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">${fmt(w.dcf)}</td>`;\n    fbRows += `<td style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">${fmt(w.per)}</td>`;\n    fbRows += `<td style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">${fmt(w.pbr)}</td>`;\n    fbRows += `<td style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">${fmt(w.div)}</td>`;\n    fbRows += `<td style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">${fmt(w.capex)}</td>`;\n    fbRows += `<td style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">${fmt(w.evEbitda)}</td>`;\n    fbRows += `<td style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">${fmt(w.psr)}</td>`;\n    fbRows += `<td style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">${info.totalChecks || 0}</td></tr>`;\n  });\n  feedbackSection = `<div style=\"margin-top: 30px; padding: 20px; background-color: #f3e5f5; border-radius: 8px;\"><h3 style=\"color: #7b1fa2; margin-bottom: 15px;\">\\u{1F504} 回饋調權系統</h3><div style=\"display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px; margin-bottom: 15px;\"><div style=\"text-align: center;\"><div style=\"font-size: 12px; color: #666;\">覆蓋類型</div><div style=\"font-size: 24px; font-weight: bold; color: #7b1fa2;\">${fbTypes.length}</div></div><div style=\"text-align: center;\"><div style=\"font-size: 12px; color: #666;\">總樣本數</div><div style=\"font-size: 24px; font-weight: bold; color: #7b1fa2;\">${totalSamples}</div></div><div style=\"text-align: center;\"><div style=\"font-size: 12px; color: #666;\">信心度</div><div style=\"font-size: 24px; font-weight: bold; color: ${confColor};\">${confidenceLevel}</div></div></div><h4 style=\"color: #495057;\">回饋權重分佈</h4><table style=\"width: 100%; border-collapse: collapse;\"><thead><tr style=\"background-color: #ce93d8;\"><th style=\"padding: 8px; border: 1px solid #ddd;\">分類</th><th style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">DCF</th><th style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">PER</th><th style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">PBR</th><th style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">股利</th><th style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">CapEx</th><th style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">EV/EBITDA</th><th style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">PSR</th><th style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">樣本</th></tr></thead><tbody>${fbRows}</tbody></table></div>`;\n} else {\n  feedbackSection = `<div style=\"margin-top: 30px; padding: 20px; background-color: #f3e5f5; border-radius: 8px;\"><h3 style=\"color: #7b1fa2; margin-bottom: 15px;\">\\u{1F504} 回饋調權系統</h3><p style=\"color: #9c27b0;\">尚未啟用 — 需要累積足夠回測數據後自動啟用</p></div>`;\n}\nlet portfolioSection = '';\nif (portfolioAnalytics.totalValue > 0) {\n  const pSign = portfolioAnalytics.unrealizedPnLPct >= 0 ? '+' : '';\n  const pColor = portfolioAnalytics.unrealizedPnLPct >= 0 ? '#28a745' : '#dc3545';\n  let sectorRows = '';\n  if (portfolioAnalytics.sectorAllocation) {\n    Object.entries(portfolioAnalytics.sectorAllocation).sort((a, b) => b[1].weight - a[1].weight).forEach(([sector, data]) => {\n      sectorRows += `<tr><td style=\"padding: 8px; border: 1px solid #ddd;\">${sector}</td><td style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">${data.weight}%</td><td style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">${data.count} 檔</td></tr>`;\n    });\n  }\n  portfolioSection = `<div style=\"margin-top: 30px; padding: 20px; background-color: #e3f2fd; border-radius: 8px;\"><h3 style=\"color: #1565c0; margin-bottom: 15px;\">投組績效</h3><div style=\"display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px; margin-bottom: 15px;\"><div style=\"text-align: center;\"><div style=\"font-size: 12px; color: #666;\">總市值</div><div style=\"font-size: 24px; font-weight: bold; color: #1565c0;\">$${portfolioAnalytics.totalValue?.toLocaleString()}</div></div><div style=\"text-align: center;\"><div style=\"font-size: 12px; color: #666;\">未實現損益</div><div style=\"font-size: 24px; font-weight: bold; color: ${pColor};\">${pSign}${portfolioAnalytics.unrealizedPnLPct}%</div></div><div style=\"text-align: center;\"><div style=\"font-size: 12px; color: #666;\">前3大集中度</div><div style=\"font-size: 24px; font-weight: bold; color: #1565c0;\">${portfolioAnalytics.risk?.concentrationTop3 || 0}%</div></div></div>${sectorRows ? `<h4 style=\"color: #495057;\">產業配置</h4><table style=\"width: 100%; border-collapse: collapse;\"><thead><tr style=\"background-color: #bbdefb;\"><th style=\"padding: 8px; border: 1px solid #ddd;\">產業</th><th style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">佔比</th><th style=\"padding: 8px; border: 1px solid #ddd; text-align: right;\">持股</th></tr></thead><tbody>${sectorRows}</tbody></table>` : ''}</div>`;\n}\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>每週估值分析報告</title></head><body style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 0; padding: 20px; background-color: #f4f4f4;\"><div style=\"max-width: 1200px; margin: 0 auto; background-color: white; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\"><div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; border-radius: 8px 8px 0 0;\"><h1 style=\"margin: 0; font-size: 28px;\">每週估值分析報告</h1><p style=\"margin: 10px 0 0 0; opacity: 0.9;\">${new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' })}</p></div><div style=\"padding: 30px;\"><div style=\"display: grid; grid-template-columns: repeat(4, 1fr); gap: 15px; margin-bottom: 30px;\"><div style=\"background-color: #e3f2fd; padding: 20px; border-radius: 8px; text-align: center;\"><div style=\"font-size: 14px; color: #1976d2; margin-bottom: 5px;\">總計</div><div style=\"font-size: 32px; font-weight: bold; color: #1565c0;\">${stats.total}</div></div><div style=\"background-color: #d4edda; padding: 20px; border-radius: 8px; text-align: center;\"><div style=\"font-size: 14px; color: #28a745; margin-bottom: 5px;\">買進</div><div style=\"font-size: 32px; font-weight: bold; color: #1e7e34;\">${stats.buy}</div></div><div style=\"background-color: #e9ecef; padding: 20px; border-radius: 8px; text-align: center;\"><div style=\"font-size: 14px; color: #6c757d; margin-bottom: 5px;\">持有</div><div style=\"font-size: 32px; font-weight: bold; color: #495057;\">${stats.hold}</div></div><div style=\"background-color: #f8d7da; padding: 20px; border-radius: 8px; text-align: center;\"><div style=\"font-size: 14px; color: #dc3545; margin-bottom: 5px;\">賣出</div><div style=\"font-size: 32px; font-weight: bold; color: #bd2130;\">${stats.sell}</div></div></div><h2 style=\"color: #495057; margin-bottom: 15px;\">詳細分析</h2><table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px;\"><thead><tr style=\"background-color: #343a40; color: white;\"><th style=\"padding: 12px; border: 1px solid #ddd; text-align: left;\">股票代號</th><th style=\"padding: 12px; border: 1px solid #ddd; text-align: left;\">AI 分類</th><th style=\"padding: 12px; border: 1px solid #ddd; text-align: right;\">現價</th><th style=\"padding: 12px; border: 1px solid #ddd; text-align: right;\">合理價</th><th style=\"padding: 12px; border: 1px solid #ddd; text-align: right;\">漲跌幅</th><th style=\"padding: 12px; border: 1px solid #ddd; text-align: center;\">建議</th><th style=\"padding: 12px; border: 1px solid #ddd; text-align: center;\">調權來源</th></tr></thead><tbody>${tableRows}</tbody></table>${narrativesSection}${backtestSection}${feedbackSection}${portfolioSection}<div style=\"margin-top: 30px; padding: 15px; background-color: #fff3cd; border-left: 4px solid #ffc107; border-radius: 4px;\"><strong style=\"color: #856404;\">免責聲明</strong><p style=\"margin: 5px 0 0 0; color: #856404; font-size: 14px;\">本報告僅供參考，不構成投資建議。投資有風險，請審慎評估。</p></div></div></div></body></html>`;\n\nreturn [{ json: { htmlReport: html, subject: `每週估值分析報告 — ${originalStats.date}` } }];"
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000008",
      "name": "產生 Email HTML 報告",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3250,
        250
      ]
    },
    {
      "parameters": {
        "chatId": "",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000009",
      "name": "發送 Telegram 摘要",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3500,
        -50
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.htmlReport }}",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000010",
      "name": "發送 Email 報告",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3500,
        250
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VALUATION_API_URL + '/api/backtest/run' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ minDaysAgo: 30, maxResults: 200 }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000031",
      "name": "觸發回測掃描",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.VALUATION_API_URL + '/api/feedback/weights' }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000032",
      "name": "取得回饋權重",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        100
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "每週一 02:00 觸發": {
      "main": [
        [
          {
            "node": "取得追蹤清單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得追蹤清單": {
      "main": [
        [
          {
            "node": "準備批次請求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "準備批次請求": {
      "main": [
        [
          {
            "node": "分批處理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分批處理": {
      "main": [
        [
          {
            "node": "合併結果與統計",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "批次估值分析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "批次估值分析": {
      "main": [
        [
          {
            "node": "等待 7 分鐘",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待 7 分鐘": {
      "main": [
        [
          {
            "node": "分批處理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合併結果與統計": {
      "main": [
        [
          {
            "node": "觸發回測掃描",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "準備 LLM Prompt": {
      "main": [
        [
          {
            "node": "LLM 分類",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM 分類": {
      "main": [
        [
          {
            "node": "Guardrails 驗證",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails 驗證": {
      "main": [
        [
          {
            "node": "Apply LLM Weights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply LLM Weights": {
      "main": [
        [
          {
            "node": "取得回測摘要",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得回測摘要": {
      "main": [
        [
          {
            "node": "取得投組績效",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得投組績效": {
      "main": [
        [
          {
            "node": "產生 Telegram 訊息",
            "type": "main",
            "index": 0
          },
          {
            "node": "產生 Email HTML 報告",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生 Telegram 訊息": {
      "main": [
        [
          {
            "node": "發送 Telegram 摘要",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生 Email HTML 報告": {
      "main": [
        [
          {
            "node": "發送 Email 報告",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "觸發回測掃描": {
      "main": [
        [
          {
            "node": "取得回饋權重",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得回饋權重": {
      "main": [
        [
          {
            "node": "準備 LLM Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Taipei"
  },
  "versionId": "2",
  "meta": {
    "instanceId": ""
  },
  "tags": []
}
