n8n_workflows/weekly-valuation.json
{
  "name": "每週估值分析",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2,
              "triggerAtDay": 1
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000001",
      "name": "每週一 02:00 觸發",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.VALUATION_API_URL + '/api/portfolio' }}",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000002",
      "name": "取得追蹤清單",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000003",
      "name": "分批處理",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VALUATION_API_URL + '/api/analyze/batch' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tickers: $input.all().map(item => item.json.ticker || item.json) }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000004",
      "name": "批次估值分析",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000005",
      "name": "等待 30 秒",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "// 合併所有批次結果並產生摘要統計\nconst allResults = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  if (data.results && Array.isArray(data.results)) {\n    allResults.push(...data.results);\n  } else if (data.ticker) {\n    allResults.push(data);\n  }\n}\n\nconst now = new Date();\nconst dateStr = `${now.getFullYear()}/${String(now.getMonth() + 1).padStart(2, '0')}/${String(now.getDate()).padStart(2, '0')}`;\n\nconst buyStocks = allResults.filter(r => r.recommendation === 'BUY' || r.recommendation === 'STRONG_BUY');\nconst sellStocks = allResults.filter(r => r.recommendation === 'SELL' || r.recommendation === 'STRONG_SELL');\nconst holdStocks = allResults.filter(r => r.recommendation === 'HOLD');\n\n// 依 upside 排序\nbuyStocks.sort((a, b) => (b.upside || 0) - (a.upside || 0));\n\nreturn [{\n  json: {\n    date: dateStr,\n    totalStocks: allResults.length,\n    buyCount: buyStocks.length,\n    sellCount: sellStocks.length,\n    holdCount: holdStocks.length,\n    buyStocks: buyStocks,\n    sellStocks: sellStocks,\n    holdStocks: holdStocks,\n    allResults: allResults,\n    top5Buy: buyStocks.slice(0, 5)\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000006",
      "name": "合併結果與統計",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst allResults = data.allResults || [];\n\nconst stockData = allResults.map(stock => ({\n  ticker: stock.ticker,\n  currentPrice: stock.currentPrice,\n  classification: stock.classification?.type || 'UNKNOWN',\n  weightedValuation: {\n    dcfFairValue: stock.weightedValuation?.dcfFairValue ?? null,\n    perFairValue: stock.weightedValuation?.perFairValue ?? null,\n    pbrFairValue: stock.weightedValuation?.pbrFairValue ?? null,\n    divFairValue: stock.weightedValuation?.divFairValue ?? null,\n    capexFairValue: stock.weightedValuation?.capexFairValue ?? null,\n    evEbitdaFairValue: stock.weightedValuation?.evEbitdaFairValue ?? null,\n    psrFairValue: stock.weightedValuation?.psrFairValue ?? null\n  },\n  metrics: {\n    currentPE: stock.perSummary?.currentPE ?? null,\n    currentYield: stock.dividendSummary?.currentYield ?? null,\n    consecutiveYears: stock.dividendSummary?.consecutiveYears ?? null,\n    growthRate: stock.dcfSummary?.growthRate ?? null,\n    capExIntensity: stock.capexSummary?.capExIntensity ?? null\n  }\n}));\n\nconst systemPromptLines = [\n  '你是台股七模型估值分析系統的 AI 分析師。根據七個獨立估值模型的結果，為每檔股票判斷分類類型並分配模型權重。',\n  '',\n  '七種分類：',\n  '1. 金融業 — 營運現金流含存放款，PBR 主導，DCF 不適用',\n  '2. 週期性 — 週期性產業，EV/EBITDA + PBR 為主',\n  '3. 虧損成長股 — EPS 為負，PSR 主導，EV/EBITDA 補充',\n  '4. 成長股 — 高營收/盈餘成長，DCF 主導',\n  '5. 存股 — 穩定高殖利率，股利模型主導',\n  '6. 價值成長股 — 兼具成長與配息，七模型均衡',\n  '7. 混合型 — 特徵不明顯，均衡參考',\n  '',\n  '規則：',\n  '1. 每個 weight 在 [0, 0.50] 範圍',\n  '2. 7 個 weight (dcf, per, pbr, div, capex, evEbitda, psr) 加總 = 1.0',\n  '3. 不可用模型（值為 null）的 weight 必須 = 0',\n  '4. 提供繁體中文分析敘述（2-3 句）',\n  '',\n  '七模型：',\n  '- dcf: DCF 折現現金流',\n  '- per: PER 本益比',\n  '- pbr: PBR 淨值比',\n  '- div: 股利折現',\n  '- capex: CapEx 資本支出驅動',\n  '- evEbitda: EV/EBITDA 企業價值倍數',\n  '- psr: PSR 股價營收比',\n  '',\n  '輸出純 JSON：{ \"stocks\": { \"<ticker>\": { \"type\": \"分類名稱\", \"description\": \"一句話\", \"weights\": { \"dcf\": 0.XX, \"per\": 0.XX, \"pbr\": 0.XX, \"div\": 0.XX, \"capex\": 0.XX, \"evEbitda\": 0.XX, \"psr\": 0.XX }, \"confidence\": \"HIGH|MEDIUM|LOW\", \"narrative\": \"2-3 句分析\" } } }'\n];\n\nconst systemPrompt = systemPromptLines.join('\\n');\nconst userPrompt = `請分析以下 ${stockData.length} 檔股票的估值數據：\\n\\n${JSON.stringify(stockData, null, 2)}`;\n\nconst openaiBody = {\n  model: 'gpt-4o',\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userPrompt }\n  ],\n  temperature: 0.3\n};\n\nreturn [{\n  json: {\n    openaiBody,\n    originalData: data\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000011",
      "name": "準備 LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openaiBody) }}",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000012",
      "name": "LLM 分類",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst originalData = $('準備 LLM Prompt').first().json.originalData;\n\nconst content = response.choices?.[0]?.message?.content;\n\nif (!content) {\n  return [{\n    json: {\n      stocks: {},\n      save: false,\n      originalData\n    }\n  }];\n}\n\ntry {\n  const parsed = JSON.parse(content);\n  const stocks = parsed.stocks || parsed;\n  \n  const validTypes = ['金融業', '週期性', '虧損成長股', '成長股', '存股', '價值成長股', '混合型'];\n  const validatedStocks = {};\n  \n  for (const [ticker, classification] of Object.entries(stocks)) {\n    if (!classification.type || !validTypes.includes(classification.type)) {\n      continue;\n    }\n    \n    const weights = classification.weights || {};\n    const requiredKeys = ['dcf', 'per', 'pbr', 'div', 'capex', 'evEbitda', 'psr'];\n    const hasAllKeys = requiredKeys.every(k => typeof weights[k] === 'number');\n    \n    if (!hasAllKeys) {\n      continue;\n    }\n    \n    validatedStocks[ticker] = classification;\n  }\n  \n  return [{\n    json: {\n      stocks: validatedStocks,\n      save: false,\n      originalData\n    }\n  }];\n  \n} catch (error) {\n  return [{\n    json: {\n      stocks: {},\n      save: false,\n      originalData,\n      error: error.message\n    }\n  }];\n}"
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000013",
      "name": "Guardrails 驗證",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VALUATION_API_URL + '/api/resynthesize/batch' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ stocks: $json.stocks, save: false }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000014",
      "name": "Apply LLM Weights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "jsCode": "const resynthResponse = $input.first().json;\nconst originalStats = $('合併結果與統計').first().json;\n\nconst enhancedMap = {};\nif (resynthResponse.results && Array.isArray(resynthResponse.results)) {\n  resynthResponse.results.forEach(result => {\n    enhancedMap[result.ticker] = result;\n  });\n}\n\nconst allResults = originalStats.allResults.map(orig => {\n  return enhancedMap[orig.ticker] || orig;\n});\n\nconst buyStocks = allResults\n  .filter(s => s.recommendation?.action === 'BUY')\n  .sort((a, b) => (b.recommendation?.upside || 0) - (a.recommendation?.upside || 0))\n  .slice(0, 5);\n\nconst sellStocks = allResults\n  .filter(s => s.recommendation?.action === 'SELL')\n  .slice(0, 5);\n\nconst stats = {\n  total: allResults.length,\n  buy: allResults.filter(r => r.recommendation?.action === 'BUY').length,\n  hold: allResults.filter(r => r.recommendation?.action === 'HOLD').length,\n  sell: allResults.filter(r => r.recommendation?.action === 'SELL').length\n};\n\nlet message = `\\u{1F4CA} 每週估值分析報告\\n`;\nmessage += `時間：${new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' })}\\n\\n`;\nmessage += `\\u{1F4CA} 統計摘要\\n`;\nmessage += `總計：${stats.total} 檔\\n`;\nmessage += `買進：${stats.buy} 檔\\n`;\nmessage += `持有：${stats.hold} 檔\\n`;\nmessage += `賣出：${stats.sell} 檔\\n\\n`;\n\nif (buyStocks.length > 0) {\n  message += `\\u{1F7E2} 建議買進 (前 5 名)\\n`;\n  buyStocks.forEach((stock, idx) => {\n    const classType = stock.llmClassification?.type || stock.classification?.type || '未分類';\n    message += `${idx + 1}. ${stock.ticker}\\n`;\n    message += `   類型：${classType}\\n`;\n    message += `   現價：$${stock.currentPrice?.toFixed(2) || 'N/A'}\\n`;\n    message += `   合理價：$${stock.weightedValuation?.fairValue?.toFixed(2) || 'N/A'}\\n`;\n    message += `   上漲空間：${stock.recommendation?.upside?.toFixed(1) || 'N/A'}%\\n\\n`;\n  });\n}\n\nif (sellStocks.length > 0) {\n  message += `\\u{1F534} 建議賣出 (前 5 名)\\n`;\n  sellStocks.forEach((stock, idx) => {\n    const classType = stock.llmClassification?.type || stock.classification?.type || '未分類';\n    message += `${idx + 1}. ${stock.ticker}\\n`;\n    message += `   類型：${classType}\\n`;\n    message += `   現價：$${stock.currentPrice?.toFixed(2) || 'N/A'}\\n`;\n    message += `   合理價：$${stock.weightedValuation?.fairValue?.toFixed(2) || 'N/A'}\\n\\n`;\n  });\n}\n\nif (resynthResponse.summary?.enhanced > 0) {\n  message += `\\n\\u{1F916} AI 分析：${resynthResponse.summary.enhanced} 檔股票已套用 LLM 智能權重\\n`;\n}\n\nmessage += `\\n\\u{1F4C8} 完整報告請查看 Email`;\n\nreturn [{ json: { telegramMessage: message } }];"
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000007",
      "name": "產生 Telegram 訊息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 150]
    },
    {
      "parameters": {
        "jsCode": "const resynthResponse = $input.first().json;\nconst originalStats = $('合併結果與統計').first().json;\n\nconst enhancedMap = {};\nif (resynthResponse.results && Array.isArray(resynthResponse.results)) {\n  resynthResponse.results.forEach(result => {\n    enhancedMap[result.ticker] = result;\n  });\n}\n\nconst allResults = originalStats.allResults.map(orig => {\n  return enhancedMap[orig.ticker] || orig;\n});\n\nconst getColor = (action) => {\n  switch (action) {\n    case 'BUY': return '#28a745';\n    case 'SELL': return '#dc3545';\n    default: return '#6c757d';\n  }\n};\n\nconst getBgColor = (action) => {\n  switch (action) {\n    case 'BUY': return '#d4edda';\n    case 'SELL': return '#f8d7da';\n    default: return '#e9ecef';\n  }\n};\n\nconst stats = {\n  total: allResults.length,\n  buy: allResults.filter(r => r.recommendation?.action === 'BUY').length,\n  hold: allResults.filter(r => r.recommendation?.action === 'HOLD').length,\n  sell: allResults.filter(r => r.recommendation?.action === 'SELL').length\n};\n\nlet tableRows = '';\nallResults.forEach(stock => {\n  const action = stock.recommendation?.action || 'HOLD';\n  const classType = stock.llmClassification?.type || stock.classification?.type || '未分類';\n  \n  tableRows += `\n    <tr style=\"background-color: ${getBgColor(action)};\">\n      <td style=\"padding: 12px; border: 1px solid #ddd;\">${stock.ticker}</td>\n      <td style=\"padding: 12px; border: 1px solid #ddd;\">${classType}</td>\n      <td style=\"padding: 12px; border: 1px solid #ddd; text-align: right;\">$${stock.currentPrice?.toFixed(2) || 'N/A'}</td>\n      <td style=\"padding: 12px; border: 1px solid #ddd; text-align: right;\">$${stock.weightedValuation?.fairValue?.toFixed(2) || 'N/A'}</td>\n      <td style=\"padding: 12px; border: 1px solid #ddd; text-align: right; color: ${getColor(action)}; font-weight: bold;\">${stock.recommendation?.upside?.toFixed(1) || 'N/A'}%</td>\n      <td style=\"padding: 12px; border: 1px solid #ddd; text-align: center; color: ${getColor(action)}; font-weight: bold;\">${action}</td>\n    </tr>\n  `;\n});\n\nlet narrativesSection = '';\nconst stocksWithNarratives = allResults.filter(s => s.llmClassification?.narrative);\nif (stocksWithNarratives.length > 0) {\n  narrativesSection = `\n    <div style=\"margin-top: 30px; padding: 20px; background-color: #f8f9fa; border-radius: 8px;\">\n      <h3 style=\"color: #495057; margin-bottom: 15px;\">\\u{1F916} AI 深度分析</h3>\n  `;\n  \n  stocksWithNarratives.forEach(stock => {\n    narrativesSection += `\n      <div style=\"margin-bottom: 15px; padding: 10px; background-color: white; border-left: 4px solid #007bff; border-radius: 4px;\">\n        <strong style=\"color: #007bff;\">${stock.ticker}</strong>\n        <span style=\"margin-left: 10px; color: #6c757d; font-size: 0.9em;\">${stock.llmClassification?.type || ''}</span>\n        <p style=\"margin: 8px 0 0 0; color: #495057; line-height: 1.6;\">${stock.llmClassification.narrative}</p>\n      </div>\n    `;\n  });\n  \n  narrativesSection += `\n    </div>\n  `;\n}\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>每週估值分析報告</title>\n</head>\n<body style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 0; padding: 20px; background-color: #f4f4f4;\">\n  <div style=\"max-width: 1200px; margin: 0 auto; background-color: white; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n    <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; border-radius: 8px 8px 0 0;\">\n      <h1 style=\"margin: 0; font-size: 28px;\">\\u{1F4CA} 每週估值分析報告</h1>\n      <p style=\"margin: 10px 0 0 0; opacity: 0.9;\">${new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' })}</p>\n    </div>\n    \n    <div style=\"padding: 30px;\">\n      <div style=\"display: grid; grid-template-columns: repeat(4, 1fr); gap: 15px; margin-bottom: 30px;\">\n        <div style=\"background-color: #e3f2fd; padding: 20px; border-radius: 8px; text-align: center;\">\n          <div style=\"font-size: 14px; color: #1976d2; margin-bottom: 5px;\">總計</div>\n          <div style=\"font-size: 32px; font-weight: bold; color: #1565c0;\">${stats.total}</div>\n        </div>\n        <div style=\"background-color: #d4edda; padding: 20px; border-radius: 8px; text-align: center;\">\n          <div style=\"font-size: 14px; color: #28a745; margin-bottom: 5px;\">買進</div>\n          <div style=\"font-size: 32px; font-weight: bold; color: #1e7e34;\">${stats.buy}</div>\n        </div>\n        <div style=\"background-color: #e9ecef; padding: 20px; border-radius: 8px; text-align: center;\">\n          <div style=\"font-size: 14px; color: #6c757d; margin-bottom: 5px;\">持有</div>\n          <div style=\"font-size: 32px; font-weight: bold; color: #495057;\">${stats.hold}</div>\n        </div>\n        <div style=\"background-color: #f8d7da; padding: 20px; border-radius: 8px; text-align: center;\">\n          <div style=\"font-size: 14px; color: #dc3545; margin-bottom: 5px;\">賣出</div>\n          <div style=\"font-size: 32px; font-weight: bold; color: #bd2130;\">${stats.sell}</div>\n        </div>\n      </div>\n      \n      <h2 style=\"color: #495057; margin-bottom: 15px;\">詳細分析</h2>\n      <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px;\">\n        <thead>\n          <tr style=\"background-color: #343a40; color: white;\">\n            <th style=\"padding: 12px; border: 1px solid #ddd; text-align: left;\">股票代號</th>\n            <th style=\"padding: 12px; border: 1px solid #ddd; text-align: left;\">AI 分類</th>\n            <th style=\"padding: 12px; border: 1px solid #ddd; text-align: right;\">現價</th>\n            <th style=\"padding: 12px; border: 1px solid #ddd; text-align: right;\">合理價</th>\n            <th style=\"padding: 12px; border: 1px solid #ddd; text-align: right;\">漲跌幅</th>\n            <th style=\"padding: 12px; border: 1px solid #ddd; text-align: center;\">建議</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${tableRows}\n        </tbody>\n      </table>\n      \n      ${narrativesSection}\n      \n      <div style=\"margin-top: 30px; padding: 15px; background-color: #fff3cd; border-left: 4px solid #ffc107; border-radius: 4px;\">\n        <strong style=\"color: #856404;\">\\u{26A0}\\uFE0F 免責聲明</strong>\n        <p style=\"margin: 5px 0 0 0; color: #856404; font-size: 14px;\">本報告僅供參考，不構成投資建議。投資有風險，請審慎評估。</p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{ json: { htmlReport: html, subject: `每週估值分析報告 — ${originalStats.date}` } }];"
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000008",
      "name": "產生 Email HTML 報告",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 450]
    },
    {
      "parameters": {
        "chatId": "",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000009",
      "name": "發送 Telegram 摘要",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2750, 150],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.htmlReport }}",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000010",
      "name": "發送 Email 報告",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2750, 450],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "每週一 02:00 觸發": {
      "main": [
        [
          {
            "node": "取得追蹤清單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得追蹤清單": {
      "main": [
        [
          {
            "node": "分批處理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分批處理": {
      "main": [
        [
          {
            "node": "批次估值分析",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "合併結果與統計",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "批次估值分析": {
      "main": [
        [
          {
            "node": "等待 30 秒",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待 30 秒": {
      "main": [
        [
          {
            "node": "分批處理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合併結果與統計": {
      "main": [
        [
          {
            "node": "準備 LLM Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "準備 LLM Prompt": {
      "main": [
        [
          {
            "node": "LLM 分類",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM 分類": {
      "main": [
        [
          {
            "node": "Guardrails 驗證",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails 驗證": {
      "main": [
        [
          {
            "node": "Apply LLM Weights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply LLM Weights": {
      "main": [
        [
          {
            "node": "產生 Telegram 訊息",
            "type": "main",
            "index": 0
          },
          {
            "node": "產生 Email HTML 報告",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生 Telegram 訊息": {
      "main": [
        [
          {
            "node": "發送 Telegram 摘要",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "產生 Email HTML 報告": {
      "main": [
        [
          {
            "node": "發送 Email 報告",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Taipei"
  },
  "versionId": "1",
  "meta": {
    "instanceId": ""
  },
  "tags": []
}
